---
/* Components */
import Layout from "../layouts/Layout.astro";
import Profile from "../components/Profile.astro";
import ButtonsRow from "../components/ButtonsRow.astro";
import AboutMe from "../components/AboutMe.astro";
import Skills from "../components/Skills.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Rodrigo Cabrera">
  <main>
    <Profile
      image="../../public/profile.png"
      profession="Frontend Developer"
      location="San Francisco, CA"
    />

    <ButtonsRow />

    <AboutMe />

    <Skills />

    <Experience />

    <Projects />
  </main>
</Layout>

<style>
  main {
    width: min(888px, 100% - 32px);
    margin-inline: auto;
  }
</style>
