---
import SectionTitle from "./SectionTitle.astro";
---

<article>
  <SectionTitle title="Sobre mi" />
  <p>
    Soy un desarrollador de software con experiencia en el desarrollo de
    aplicaciones web y móviles. Actualmente me estoy especializando en
    tecnologías de front-end.
  </p>
</article>

<style>
  article {
    padding: 16px 0 12px;
  }
  p {
    font: var(--xl-regular);
    color: var(--dark-color);
    margin: 0;
  }
</style>
