---
import { getDevProfile } from "../libs/get-dev-profile";
import SectionTitle from "./SectionTitle.astro";

const devProfile = await getDevProfile("?fields=profileDescription");

const { profileDescription } = devProfile.data

---

<article>
  <SectionTitle title="Sobre mi" />
  <p>
    {profileDescription}
  </p>
</article>

<style>
  article {
    padding: 16px 0 12px;
    max-width: 523px;
  }
  p {
    font: var(--xl-regular);
    color: var(--dark-color);
    margin: 0;
  }
</style>
