---
interface Props {
  text: string;
  size: string;
}
const { text, size }: Props = Astro.props;
---

<span class={size}>{text}</span>

<style>
  span {
    display: inline-block;
    background-color: var(--dark-color);
    border-radius: var(--secondary-border-radius);
    color: var(--primary-color);
    scroll-snap-align: start;
  }
  span.large {
    padding: 6px 16px;
    font: var(--l-medium);
  }
  span.medium {
    padding: 4px 10px;
    font: var(--s-medium);
    border-radius: 5px;
  }
  span.mini {
    padding: 3px 8px;
    font: var(--s-medium);
    border-radius: 5px;
  }
</style>
