---
interface Props {
  text: string;
  type?: string;
}

const { text, type } = Astro.props;
---

<button class=`${type}`>
  <slot name="before-text" />
  <span class="textButton">{text}</span>
  <slot name="after-text" />
</button>
<style>
  button {
    height: 40px;
    width: 100%;
    background-color: var(--accent);
    border: none;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 10px;

    animation: rounded-button linear both;
    animation-timeline: scroll(root);
    animation-range: 270px 275px;
  }
  button.outline {
    background-color: var(--primary-color);
    border: 1px solid var(--accent);
  }
  span.textButton {
    font: var(--l-bold);
    color: var(--dark-color);

    animation: hiden-text linear both;
    animation-timeline: scroll(root);
    animation-range: 270px 275px;
    transition: opacity 1s ease;
  }

  @keyframes rounded-button {
    to {
      border-radius: 50%;
      width: 45px;
      height: 45px;
      margin-left: auto;
      margin-right: 16px;
    }
  }
  @keyframes hiden-text {
    to {
      opacity: 0;
      display: none;
    }
  }
</style>
