---
import { Image } from "astro:assets";
interface Props {
  image: ImageMetadata;
  title: string;
  type?: string;
}

const { image, title }: Props = Astro.props;
---

<article>
  <div class="imageContainer">
    <Image
      width={173}
      height={173}
      src={image}
      alt="portfolio personal"
      loading="lazy"
    />
  </div>
  <p>{title}</p>
</article>

<style>
  .imageContainer {
    width: fit-content;
    height: fit-content;
  }
  img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
  }
  p {
    font: var(--xl-medium);
    color: var(--dark-color);
    margin: 0 0 8px;
  }
</style>
