---
import ExperienceItem from "../components/ExperienceItem.astro";
---

<article>
  <h2>Experiencia laboral</h2>
  <ExperienceItem
    title="Desarrollador de software"
    description="San Francisco Bay area. Ejemplo de empresa"
    status="active"
  />
  <ExperienceItem
    title="Ingeniero de software"
    description="San Francisco Bay area. Ejemplo de empresa"
  />
  <ExperienceItem
    title="Ingeniero de software"
    description="San Francisco Bay area. Ejemplo de empresa"
  />
</article>

<style>
  h2 {
    font: var(--h2);
    color: var(--dark-color);
    margin: 0;
    padding: 16px 0 8px;
  }
</style>
