---
import { Image } from "astro:assets";
import image from "../../public/profile.png";
---

<section>
  <div class="profileImageContainer">
    <Image
      src={image}
      alt="foto de perfil"
      width={64}
      height={64}
      loading="eager"
    />
  </div>
</section>

<style>
  section {
    margin: 16px 0;
  }
  .profileImageContainer {
    display: flex;
    margin: 16px 0 0;
    margin-inline: auto;
  }
  img {
    border-radius: 50%;
    margin-inline: auto;
  }

  /* DESKTOP */
  @media (min-width: 768px) {
    section {
      margin: 0;
      .profileImageContainer {
        margin: 0 auto;
      }
    }
  }
</style>
