---
import projects from "../data/projects";
import Card from "./Card.astro";
---

<section>
  {
    projects.map(({ image, title, type, id }) => (
      <Card image={image} title={title} type={type} id={id} />
    ))
  }
</section>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(163px, 1fr));
    gap: 12px;
    padding: 16px 0;
  }
</style>
