---
import SectionTitle from "./SectionTitle.astro";
import ProjectsCards from "./ProjectsCards.astro";
import ProjectSkeleton from "./ProjectSkeleton.astro";
---

<section id="projects">
  <SectionTitle title="Proyectos" />

  <ProjectsCards />
</section>
<style>
  article {
    padding-top: 2rem;
  }
</style>
