---
/* Icons */
import EmailIcon from "../icons/EmailIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";

/* Components */
import SectionTitle from "./SectionTitle.astro";
import ContactLinks from "./ContactLinks.astro";
---

<section>
  <SectionTitle title="Contacto" />
  <ContactLinks
    link="mailto:rodrigod33d@gmail.com"
    user="rodrigod33d@gmail.com"
    socialNetworkName="Email"
  >
    <EmailIcon width="24" height="24" stroke="#0d141c" fill="none" />
  </ContactLinks>
  <ContactLinks
    link="https://github.com/RodrigaoCabrera"
    user="rodrigaocabrera"
    socialNetworkName="Github"
  >
    <GithubIcon width="24" height="24" />
  </ContactLinks>

  <ContactLinks
    link="https://www.linkedin.com/in/rodrigocabrera19/"
    user="rodrigocabrera19"
    socialNetworkName="LinkedIn"
  >
    <LinkedinIcon width="24" height="24" fill="none" stroke="#0d141c" />
  </ContactLinks>
</section>

<style>
  section {
    padding: 16px 0;
  }
</style>
