---
import { getProjectTypes } from "../libs/get-projects";

interface Props {
  queryParams: string;
}

const tabNames = await getProjectTypes();

const { queryParams = "All" }: Props = Astro.props;
console.log({ queryParams });
---

<section>
  {
    ["All", ...tabNames].map((name) => (
      <div class="tabsContainer">
        <a
          class={`tab ${name === queryParams ? "active" : ""}`}
          href={name === "All" ? "/#projects" : `?type=${name}#projects`}
        >
          <span>{name}</span>
        </a>
      </div>
    ))
  }
</section>

<style>
  section {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    border-radius: var(--border-radius);
  }

  .tabsContainer {
    scroll-snap-align: start;
  }
  a.tab {
    display: flex;
    align-items: center;
    height: 36px;
    width: 100%;
    border-radius: var(--secondary-border-radius);
    white-space: nowrap;
    text-decoration: none;

    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #4a5568;
    background-color: #edf2f7;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
  }
  .tab:is(:active, :hover) {
    background-color: #e2e8f0;
  }

  .tab.active {
    background-color: #4a5568;
    color: white;
  }
</style>
