---
interface Props {
  tabNames: string[];
}

const { tabNames }: Props = Astro.props;
---

<section>
  {
    tabNames.map((name) => (
      <div class="tabsContainer">
        <button class="active">{name}</button>
      </div>
    ))
  }
</section>

<style>
  section {
    display: flex;
    gap: 0 5px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    border: 1px solid var(--accent);
    border-radius: var(--border-radius);
  }

  .tabsContainer {
    scroll-snap-align: start;
    padding: 4px;
  }
  button {
    height: 36px;
    width: 100%;
    padding: 0 12px;
    background-color: transparent;
    border: none;
    border-radius: var(--secondary-border-radius);
    white-space: nowrap;
  }
  button.active {
    background-color: var(--accent);
  }
</style>
